@media screen and (max-width: 900px) {
    .segmented-controls{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:10px;
        padding:0px!important;
        background-color: #ffffff00!important;
    }

 

    .rounded-WL{
        border-radius: 1.7rem!important;
    }

    .segmented-controls label{
        font-size:14px!important;
        padding:10px 16px!important;

    }

    .parented:hover .parentprojected {
        background-color: #ffffff00!important;
                    }
        
                    .parented:hover .parentprojecting {
                      background-color: #ffffff00!important;
                                  }

    .gapnav{
        padding-top:12em
    }

    .mtneg{
        margin-top:3em
    }

   

    .parented:hover .parentprojected {
        background-color: #ffffff00;
                    }
        
                    .parented:hover .parentprojecting {
                      background-color: #ffffff00;
                                  }

                                  .parented{
transition:0.2s ease-in-out                                }
        .parented:hover{
            background: #ffffff30;
        }
                                 
}

@media screen and (max-width: 1280px) {
.indexproppage .project-item{
    height:250px
}}

@media screen and (max-width: 620px) {

    .mediagride {
        display: grid;
        grid-template-columns: 1fr!important;
      }

      .background-topgradient{
        background-image: url('/bgr.png');
        background-position: top left!important;
        opacity: 0.95!important;
    
      }
    

      
    }

    @media screen and (max-width: 1040px) {
        .modal-result{
            margin-top: 0px!important;
            justify-content: start!important;
            padding:2rem 2rem!important;
            width: 100%!important;

        }
        .hiddenqaau{
            display: none!important;
        }
    .mtneg{
        margin-top:3em
    }}


    .hpd{
        background-color: red!important;
        padding: 20px;
    }